## Cleaning Lung Disease Data for County Analysis
In this interactive notebook, we will take a look at the process of cleaning up some of our cancer data for use in analysis by county.

In [1]:
import pandas as pd

In [13]:
cancer_county = pd.read_csv('data/USCS_StateCountyMap.csv')

In [14]:
cancer_county.drop(columns=['lci', 'uci', 'Sex', 'Area', 'CancerType'], inplace=True)
cancer_county.head()

                County         Year AgeAdjustedRate CaseCount Population
0        'Kane County'  '2012-2016'          '51.2'    '1298'  '2633345'
1      'DuPage County'  '2012-2016'          '51.8'    '2643'  '4657275'
2   'Champaign County'  '2012-2016'          '52.8'     '499'  '1034430'
3    'Woodford County'  '2012-2016'          '54.8'     '135'   '194822'
4  'Stephenson County'  '2012-2016'          '52.4'     '186'   '231025'

In [15]:
cancer_county = cancer_county.applymap(lambda s: s[1:-1])
cancer_county.head()

              County       Year AgeAdjustedRate CaseCount Population
0        Kane County  2012-2016            51.2      1298    2633345
1      DuPage County  2012-2016            51.8      2643    4657275
2   Champaign County  2012-2016            52.8       499    1034430
3    Woodford County  2012-2016            54.8       135     194822
4  Stephenson County  2012-2016            52.4       186     231025

In [19]:
cancer_county.AgeAdjustedRate = cancer_county.AgeAdjustedRate.astype(float)
cancer_county.CaseCount = cancer_county.CaseCount.astype(int)
cancer_county.Population = cancer_county.Population.astype(int)
cancer_county.County = cancer_county.County.apply(lambda s: s.replace(' County', ''))

In [20]:
cancer_county.head()

       County       Year  AgeAdjustedRate  CaseCount  Population
0        Kane  2012-2016             51.2       1298     2633345
1      DuPage  2012-2016             51.8       2643     4657275
2   Champaign  2012-2016             52.8        499     1034430
3    Woodford  2012-2016             54.8        135      194822
4  Stephenson  2012-2016             52.4        186      231025

In [22]:
cancer_county.shape

(102, 5)

In [21]:
cancer_county.dtypes

County              object
Year                object
AgeAdjustedRate    float64
CaseCount            int64
Population           int64
dtype: object

In [23]:
cancer_county.to_csv('cleaned_data/il_all_counties_cancer_rates.csv')