## Data Analysis
This interactive notebook handles the analysis and visualizations of data, including automated hypothesis testing. First, we need to get our data from the EPA website. To do so, we should start by importing some of our required libraries.

In [1]:
from pyaqs import AQSFetcher
import pandas as pd

Now, we will instantiate a new AQSFetcher object and use it to get the required data from the EPA website. For now, we will focus our attention on counties within Illinois, the state where we currently reside. To do so, we will use some of the custom defined methods to get the appropriate identification codes for the necessary locations and parameters.

To note, in this context, a *parameter* is a compound that in the air that can be measured. The EPA has many such parameters, sorted into different classes whose descriptions are easily accessible through the API.

In [2]:
aqs_fetcher = AQSFetcher('bbjornstad.flatiron@gmail.com', 'ochrefox21')

In [4]:
state_codes = aqs_fetcher.get_state_codes()
state_codes.head()

  code  state_name
0   01     Alabama
1   02      Alaska
2   04     Arizona
3   05    Arkansas
4   06  California

Let's store the code for Illinois in a variable for easy access.

In [6]:
il_code = state_codes.loc[state_codes.state_name == 'Illinois', 'code'].values[0]
il_code

'17'

And now we will get a list of codes for the counties within Illinois.

In [7]:
il_county_codes = aqs_fetcher.get_counties_by_state(il_code)
il_county_codes.head()

  code county_name
0  001       Adams
1  003   Alexander
2  005        Bond
3  007       Boone
4  009       Brown

Finally, let's take a look at the possible parameter classes and identify a set that seems reasonable for analysis.

In [9]:
aqs_fetcher.get_parameter_classes()

                 class_name                                  class_description
0               AIRNOW MAPS  The parameters represented on AirNow maps (881...
1                       ALL                    Select all Parameters Available
2            AQI POLLUTANTS                Pollutants that have an AQI Defined
3                 CORE_HAPS                         Urban Air Toxic Pollutants
4                  CRITERIA                                Criteria Pollutants
5                  CSN DART  List of CSN speciation parameters to populate ...
6                  FORECAST     Parameters routinely extracted by AirNow (STI)
7                      HAPS                           Hazardous Air Pollutants
8            IMPROVE CARBON                          IMPROVE Carbon Parameters
9        IMPROVE_SPECIATION  PM2.5 Speciated Parameters Measured at IMPROVE...
10                      MET                            Meteorologic Parameters
11          NATTS CORE HAPS  The core list of toxics of interest to the NAT...
12           NATTS REQUIRED  Required compounds to be collected in the Nati...
13                     PAMS         Photochemical Assessment Monitoring System
14                 PAMS_VOC  Volatile Organic Compound subset of the PAMS P...
15                PM COARSE                  PM between 2.5 and 10 micrometers
16          PM10 SPECIATION                          PM10 Speciated Parameters
17        PM2.5 CONT NONREF             PM2.5 Continuous, Nonreference Methods
18            PM2.5 MASS/QA                       PM2.5 Mass and QA Parameters
19        SCHOOL AIR TOXICS                          School Air Toxics Program
20               SPECIATION                         PM2.5 Speciated Parameters
21        SPECIATION CARBON                 PM2.5 Speciation Carbon Pollutants
22  SPECIATION CATION/ANION           PM2.5 Speciation Cation/Anion Pollutants
23        SPECIATION METALS                 PM2.5 Speciation Metals Pollutants
24           UATMP CARBONYL      Urban Air Toxics Monitoring Program Carbonyls
25                UATMP VOC           Urban Air Toxics Monitoring Program VOCs

We are most interested in those parameters held in the CRITERIA class, as indicated by the description. In particular, this class defines pollutants that the EPA has determined to be suitable criteria for overall air quality.

In [11]:
parameter_codes = aqs_fetcher.get_parameter_list_by_class('CRITERIA')
parameter_codes

    code     parameter_description
0  14129             Lead (TSP) LC
1  42101           Carbon monoxide
2  42401            Sulfur dioxide
3  42602    Nitrogen dioxide (NO2)
4  44201                     Ozone
5  81102     PM10 Total 0-10um STP
6  85129      Lead PM10 LC FRM/FEM
7  88101  PM2.5 - Local Conditions

Fantastic, these will allow us the possibility to easily partition and query the data that we need to continue with the analysis.